.radio-card {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card {
    border: 1.5px solid white;
    width: 5rem;
    transition: border-color 0.3s;
}

input[type="radio"]:checked + .card {
    border-color: #000000;
}